body {
  margin: 1;
  color: white !important;
  font-family: futura;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: (0, 0, 0, .1); */
  background-image: url("./components/home/assets/NBV.jpg");
  background-size: cover;
  /* opacity: .7; */
  background-repeat: no-repeat;
  height: 100vh;
}

button {
  color: white !important;
  font-family: futura;
  text-transform: uppercase;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
.navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
} */

.btn-success:active {
/*formatting goes here*/
}

.btn-success:hover {
/*formatting goes here*/
}

.btn-success:focus {
/*formatting goes here*/
}

.mainDiv{
  background-color: transparent;
  width: 93%;
  margin: 1em auto 5em auto;
}

.navbar {
  color: white;
  background-color: gray;
}




/* MUSIC APP  */
.musicAppContainer {
  margin-left: auto;
  margin-right: auto;
  background: #313133;
  background-image: url('https://media.giphy.com/media/yPzJdJ11dAkgbYbjsi/giphy.gif');
  background-size: cover;
  height: 80vh;
  max-width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startApp {
  max-height: 5em;
  color: #4FD1C5;
  background: none;
  border: 2px solid #4FD1C5;
}
.startApp:hover,
.startApp:focus {
  box-shadow: inset 0 0 0 2em;
}

.pixie {
  border-radius: 50%;
  min-width: 35px;
  min-height: 35px;
  background: #d14fcb;
  background: linear-gradient(90deg, rgb(227, 129, 230) 0%, rgb(209, 79, 209) 100%);
  border: none;
  border-radius: 50%;
  box-shadow: 12px 12px 24px rgba(209, 79, 209, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.pixie::before {
  content: '';
    border-radius: 1000px;
    border: 6px solid #ff00ff;
    box-shadow: 0 0 60px rgba(255, 0, 255, 0.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }

  .pixie:hover, .orb:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .pixie:hover::before, .pixie:focus::before {
    opacity: 1;
    animation: ring 1.5s;
  }
  
  .pixie::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .pixie:hover::after, button:focus::after {
    display: none;
  }

.orb {
  border-radius: 50%;
  min-width: 75px;
  min-height: 75px;
  color: #4FD1C5;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,.7) 0%, rgba(79,209,197,.7) 100%);
  border: none;
  border-radius: 50%;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

.orb::before {
content: '';
  border-radius: 1000px;
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.orb:hover, .orb:focus {
  color: #313133;
  transform: translateY(-6px);
}

.orb:hover::before, .orb:focus::before {
  opacity: 1;
  animation: ring 1.5s;
}

.orb::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.orb:hover::after, button:focus::after {
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}